body{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0%;
    
}
#headline h1{
    font-size: 65px;
    border-left: 5px solid #FF6600;
    padding-left: 2%;
}
section p{
    font-size: 20px;
    width: 68%;
    line-height: 30px;
    color: #5a5757;
}
.first-mission{
   display: flex;
   

}
.fitst-div{
    width:50% ;
    padding-left:10%;
    
}

img{
    width: 60%;
    padding-top: 5%;
}
span{
    color: #FDC466;
}
#first-id{
    padding-top: 5%;
}
.first-ancor{
    text-decoration: none;
    background-color: rgb(255, 102, 0);
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
}
.first-h1{
    text-align: center;
    font-size: 50px;
}
.first-img{
    width: 30%;
}
span{
    color: #FDC466;
}
#second-id{
    width:50% ;
    background-color: #FFEEEE;
    padding-left: 3%;
    border-radius: 5%;
    margin-left:10%;
    margin-bottom: 10%;
    
}
#thard-id{
    width:50% ;
    background-color: #EDF5F6;
     padding-left: 3%;
     border-radius: 5%;
     margin-left:8%;
     margin-right:10%;
     margin-bottom: 10%;
}
#forth-id{
    width:50% ;
    background-color: #FFF4D6;
     padding-left: 3%;
     border-radius: 5%;
     margin-right:8%;
     margin-bottom: 10%;
     
}
 img{
    width: 60%;
    padding-left: 25%;
    
}
#sixth-id{
    font-size:45px ;
    padding-top: 12%;
}
img{
    width: 60%;
    padding-right: 100%;
    
}
#saventh-id{
    font-size:45px ;
    
}
#valo-basar-div{
    padding-left: 12%;
}
h3{
    font-size: 25px;
}
#talent{
    text-align: center;
    font-size: 65px;
}
#work{
    font-size: 55px;
}
#last{
    font-size: 45px;
}
#amaro-somoy-asbe{
    color: #FDC466;
    font-size: 55px;
}
#amar-mission{
    background: black;
    text-align: center;
    padding: 5% 20%;
}
#my-lover-p{
    color: white;
    padding-left: 15%;
}
#amar-mission h1{
    font-size: 38px;
    color: white;
}   
#ar-kaj-nai{
    color: #FF6600;
    font-size:40px ;
}

