body{
    font-family: 'Be Vietnam Pro', sans-serif;
    
}
section h1{
    font-size: 60px;
    border-left: 5px solid #FF6600;
    padding-left: 2%;
}
section p{
    font-size: 17px;
    width: 68%;
    line-height: 30px;
    color: #5a5757;
}
.first-mission{
   display: flex;
   

}
.fitst-div{
    width:50% ;
    padding-left:10%;
    
}

 img{
    width: 60%;
    padding-top: 5%;
}
span{
    color: #FDC466;
}
#first-id{
    padding-top: 5%;
}
.first-ancor{
    text-decoration: none;
    background-color: rgb(255, 102, 0);
    padding: 12px 30px;
    border-radius: 5px;
    color: white;
}
.first-h1{
    text-align: center;
    font-size: 50px;
}
.first-img{
    width: 30%;
}
span{
    color: #FDC466;
}
#second-id{
    width:50% ;
    background-color: #FFEEEE;
    padding-left: 3%;
    border-radius: 5%;
    margin-left:10%;
    margin-bottom: 10%;
    
}
#thard-id{
    width:50% ;
    background-color: #EDF5F6;
     padding-left: 3%;
     border-radius: 5%;
     margin-left:8%;
     margin-right:10%;
     margin-bottom: 10%;
}
#forth-id{
    width:50% ;
    background-color: #FFF4D6;
     padding-left: 3%;
     border-radius: 5%;
     margin-right:8%;
     margin-bottom: 10%;
     
}
